<form action="save" method="post">
    {% csrf_token %}
    <table> 
        <tr>
            <td>
                id
            </td>
            <td>
                First user
            </td>
            <td>
                Second user
            </td>
        </tr>


        {% for pair in round %}
        
        <tr>
            <td>
                {{ forloop.counter }}.
            </td>
            <td>
                {{ pair.0.first_name }} {{ pair.0.second_name }}
                <input id="first_user" type="text" name="first_user" maxlength="30" size="30" required
                value="{{ pair.0.id }}"
                readonly hidden>
            </td>
            <td>
                {{ pair.1.first_name }} {{ pair.1.second_name }}
                <input id="second_user" type="text" name="second_user" maxlength="30" size="30" required
                value="{{ pair.1.id }}"
                readonly hidden>
            </td>
        </tr>
        {% endfor %}

    </table>

    <p>
        Starts at: <input id="starts_at" type="date" name="starts_at" value={{ cur_date }}>
    </p>
    <p>
        Ends at: <input id="ends_at" type="date" name="ends_at" value={{ cur_date }}>
    </p>
    <p>
        <input type="submit" value="save round">
    </p>

НЕ РАСПРЕДЕЛЕНЫ:
<br>
    {% for user in users_with_no_pair %}
        {{ user.first_name }}
        {{ user.second_name }}
        <br>
    {% endfor %}
</form>
